<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="97bebaaf-b91a-49a6-8e50-ffb06aad17f5" name="AWSECommerceServiceBinding TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="97bebaaf-b91a-49a6-8e50-ffb06aad17f5fileName">AWSECommerceServiceBinding-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>